.bm-burger-bars {
  background: green;
  border-radius: 2rem;
}
#react-burger-menu-btn {
  width: 20px !important;
  height: 20px !important;
  position: relative !important;
}
.bm-burger-button {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bm-burger-bars {
  width: 25px !important;
  height: 25% !important;
}
.bm-menu {
  border-radius: 0.5rem 0 0 2.8rem;
}
.bm-cross {
  background-color: green;
  height: 30px !important;
}
.bm-cross-button {
  top: 25px !important;
  height: 35px !important;
}
.bm-menu-wrap {
  top: 0px;
}