.languageButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.translate_section_hover {
    padding: 0 50px;
    background-color: darkseagreen;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: larger;
}
.translate_section {
    position: fixed;
    right: 10px;
    top: -50px;
    background-color: darkseagreen;
    border-radius: 0 0 0.5rem 0.5rem;
}
.languages {
    transform: translateY(50px);
    transition: .3s;
}
.languagesOff {
    transform: translateY(0);
    transition: .3s;
}
.languageArrow {
    transform: rotate(180deg);
}
.FR {
    color: #fff;
    padding: 3px 6px;
    border-radius: 5rem;
    background-color: rebeccapurple;
}
.EN {
    color: #fff;
    padding: 3px 6px;
    border-radius: 5rem;
    background-color: rebeccapurple;
}
.burgerDisplay {
    display: none !important;
}
.bm-overlay {
    background: none !important;
}
@media screen and (max-width: 850px) {
    .burgerDisplay {
        display: flex !important;
    }
    .menuDisplay {
        display: none;
    }
}